
body.login-bg {
    padding-top: 54px;
    background-image: url('../img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.containertop {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 93px;
}
@media (min-width: 768px) {
    .container {
        max-width: 992px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1540px;
    }
}

@media (min-width: 1800px) {
    .container {
        max-width: 1740px;
    }
}

@media (min-width: 1900px) {
    .container {
        max-width: 1840px;
    }
}

.login {
    display: inline-block;
    border-radius: 100px;
    background-color: #8CCB63;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 350px;
    height: 50px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
}
    .login:hover {
        display: inline-block;
        border-radius: 100px;
        background-color: #76D23A;
        border: 2px solid #707070;
        color: white;
        text-align: center;
        font-size: 18px;
        padding: 5px;
        width: 350px;
        height: 50px;
        transition: all 0.3s;
        cursor: pointer;
        margin: 5px;
    }

.usrlogin {
    border: none;
    border-radius: 10px;
}

.signout-link {
    text-align: -webkit-match-parent;
    display: block;
    padding: .5rem 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #ff6666;
}

    .signout-link:hover {
        color: #ff3333;
        text-decoration: none;
    }

.manuser-link {
    text-align: -webkit-match-parent;
    display: block;
    padding: .5rem 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #fbc45d;
}

    .manuser-link:hover {
        color: #fab42f;
        text-decoration: none;
    }

.manuser-active {
    text-align: -webkit-match-parent;
    display: block;
    padding: .5rem 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #faac18;
}

    .manuser-active:hover {
        text-decoration: none;
        color: #faac18;
    }

.Compendiums {
    zoom: 150%;
    width:200%;
    height:200%;
}

.submit {
    display: inline-block;
    border-radius: 10px;
    background-color: #8CCB63;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 200px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
}

.modalBackground {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
    z-index: 501 !important;
}

.modalPopup {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 780px;
    height: 500px;
}
.AddUsermodalPopup {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 500px;
    height: 350px;
    z-index: 502 !important;
}
.adduser {
    display: inline-block;
    border-radius: 10px;
    background-color: #4285F4;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 1px;
    width: 120px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
}

.add {
    display: inline-block;
    border-radius: 10px;
    background-color: #8CCB63;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 200px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 2px;
}

.cancel {
    display: inline-block;
    border-radius: 10px;
    background-color: #efd253;
    border: none;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 200px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 2px;
}

.VEedit {
    display: inline-block;
    border-radius: 10px;
    background-color: #5496FF;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 180px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 2px;
}
.VEdelete {
    display: inline-block;
    border-radius: 10px;
    background-color: #CB5263;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 180px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 2px;
}
.VEcancel {
    display: inline-block;
    border-radius: 10px;
    background-color: #efd253;
    border: none;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 180px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 2px;
}
.add:hover {
    display: inline-block;
    border-radius: 10px;
    background-color: #76D23A;
    border: 2px solid #707070;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 200px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 2px;
}

.cancel:hover {
    display: inline-block;
    border-radius: 10px;
    background-color: #EBC41B;
    border: 2px solid #707070;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 200px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 2px;
}

.VEedit:hover {
    display: inline-block;
    border-radius: 10px;
    background-color: #317EF8;
    border: 2px solid #707070;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 180px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 2px;
}

.VEdelete:hover {
    display: inline-block;
    border-radius: 10px;
    background-color: #C93045;
    border: 2px solid #707070;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 180px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 2px;
}

.VEcancel:hover {
    display: inline-block;
    border-radius: 10px;
    background-color: #EBC41B;
    border: 2px solid #707070;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 180px;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 2px;
}

.ddl {
    border: 2px solid #707070;
    border-radius: 5px;
    padding: 2px;
    /*-webkit-appearance: none;*/
    background-color: #EBEBEB;
    /*background-image: url('../img/down.png');
    background-position: 88px;
    background-repeat: no-repeat;*/
    text-indent: 0.01px; /*In Firefox*/
}

.AlternatingRowStyle {
    background-color: #EEE8AA;
}

.EmptyEvenCell {
    background-color: #EEE8AA;
}

.EmptyOddCell {
    background-color: #FAFAD2;
}
.OrderHistory_RowSeparator {
    margin: 0px 0px -25px 0px;
}
.divider {
    height: 5px;
    background-color: #E8E8E8;
    border: none;
}

.dropdown {
    position: center;
    text-align: right;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: right;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #FAAC18;
            color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}
.main-table {
    width: 100%;
    height: 92%;
    min-width:1024px;
    min-height: 720px;
}
.notes-table {
    width: 100%;
    height: 100%;
}
#col1 {
    width: 30%;
    height: 1%;
}
#col2 {
    width: 10%;
}
#col3 {
    width: 1%;
}
#col4 {
    width: 9%;
}
#col5 {
    width: 10%;
}
#col6 {
    width: 1%;
}
#col7 {
    width: 39%;
}
#row2 {
    height: 1%;
}
#row3 {
    height:2%;
}
#row4{
    height: 47%
}
#row5 {
    height: 2%;
    min-height: 10px;
}
#row6 {

}
.wh100 {
    display: block;
    width: 100%;
    height: 100%;
}
.w100 {
    display: block;
    width: 100%;
}
.tabledivider {
    height: 1.5%;
}
.zerodivider {
    height: 0.00001%;
}
.photodivider{
    width: 1%;
}
.photowidth{
    width:32.66%;
}
.tableTextbox {
    height: 15%;
}
.FileUpload{
    width:100%;
}
.update {
    display: inline-block;
    border-radius: 10px;
    background-color: #8CCB63;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
    margin: 2px;
}
.upload {
    background-image: url('../img/upload.png');
    width: 31px;
    height:31px;
    border: none;
    display: flex;
}
body, html, form {
    height: 100%;
}
.header {
    background-color: #818284;
    color: white;
    font-weight: bold;
    padding-left: 5px;
}
.input {
    /*background-color: #FFF0D2;
    color: #343a40;*/
    padding-left: 5px;
    padding-right: 5px;
    background-color:#fff;
}
.center {
    text-align: center;
}
.highlightCell {
    border: 2px solid #ddd;
}
.ImageSize{
    max-height:100%;
    max-width:100%;
}

#gvBom tr:hover, #gvBom tr:nth-child(even):hover {
    background-color: #fbb94c;
    color: #343a40;
    font-weight:bold;
}
#gvBom tr {
    padding-left: 5px;
    background-color: #ececec;
    color: #333333;
}
#gvBom tr:nth-child(even) {
     background-color: #fff;
 }
#gvBom th {
    padding-left: 5px;
    background-color: #818284;
    color: white;
    font-weight: bold;
}
/*.photomax{
    max-height:235px;
}*/
textarea {
    resize: none;
}
.notes-item {
    border: 1px solid #ddd;
}

.ui-front {
    z-index: 1100;
}
.fixed-top{
    z-index:500;
}